@font-face {
    font-family: 'fuente1';
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'fuente1', sans-serif;
    text-align: center;
}

.cont {
    background-color: hsl(0, 0%, 12%);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}
.ubication {
    color: hsl(75, 94%, 57%);
}

h1 {
    font-size: 18px;
}

p {
    font-size: 14px;
}