/*fuentes*/
@font-face {
    font-family: 'font_base';
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'font_semibold';
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'font_bold';
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

/*efectos de iluminación*/
@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 10px hsl(75, 94%, 57%);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 10px hsl(75, 94%, 57%);
    }
}

@keyframes light-pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.925);
    }
    50% {
        box-shadow: 0 0 20px #2fa5a7;
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.925);
    }
}

/*switch modo oscuro/claro*/
nav {
    padding: 30px;
}

.switch {
    background: hsl(75, 78%, 29%);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none; 
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

.switch.active {
    background: #76ABAE;
    color: black;
    right: 0;
    left: unset;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.contenedor .switch {
    margin: 0 auto; /* Centra el elemento */
}

/*oscuro*/
body {
    background-color: hsl(0, 0%, 8%);
    transition: .3s ease all;
}

.contenido {
    background-color: hsl(0, 0%, 12%);
    font-family: 'font_base', sans-serif;
    text-align: center;
    transition: .3s ease all;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;
    animation: shadow-pulse 5s infinite;
    transition: .3s ease all;
}

.ubication {
    color: hsl(75, 94%, 57%);
    font-family: 'font_semibold';
    margin-top: 5px;
    margin-bottom: 20px;
    transition: .3s ease all;
}
.info {
    margin-bottom: 25px;
    transition: .3s ease all;
}

a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 15px;
    font-family: 'font_bold';
    margin: 15px;
    transition: background-color 0.1s, color 0.1s;
    transition: .3s ease all;
}

a:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.774);
    transition: .3s ease all;
}

/*claro*/
body.light {
    background-color: #EEEEEE;
    transition: .3s ease all;
}

body.light .contenido {
    background-color:#bfc0cc;
    transition: .3s ease all;
    color: black;
}

body.light img {
    animation: light-pulse 5s infinite;
    transition: .3s ease all;
}

body.light .ubication {
    color: #2D9596;
    transition: .3s ease all;
}

body.light .info {
    color: hsla(0, 0%, 9%, 0.89);
    transition: .3s ease all;
}

body.light a {
    background-color: #1a1b1d;
}

body.light a:hover {
    background-color: #76ABAE;
    box-shadow: 0 0 10px rgba(27, 24, 24, 0.774);
}

/*otros estilos*/
h1 {
    font-size: 18px;
}

p {
    color: hsl(0, 0%, 75%);
    font-size: 14px;
}

@media (max-width: 430px) and (max-height: 932px) {
    .contenido {
        width: auto;
        height: auto;
        margin: 0 auto; /* Centra el elemento */
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
    .contenido {
        width: auto;
        height: auto;
        margin: 0 auto; /* Centra el elemento */
    }
}

@media (min-width: 1025px) {
    .contenido {
        width: 40rem;
        height: flex;
        margin: 0 auto; /* Centra el elemento */
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
    }
    a {
        font-size: 1.2rem;
    }

    img {
        width: 12rem;
        height: 12rem;
    }

    /*.switch {
        width: 40px;
        height: 40px;
    }*/
    
}